svg {
    border: 1px solid #ccc;
}

.axis line,
.axis path {
    shape-rendering: crispEdges;
    fill: transparent;
    stroke: #555;
}
.axis text {
    font-size: 11px;
}

.center{

}


.bar {
    fill-opacity: 0.5;
}
.bar.left {
    fill: steelblue;
}
.bar.right {
    fill: firebrick;
}


.bar.left:hover {
    fill: blue;
}
.bar.right:hover {
    fill: red;
}

.tooltip {
    position: absolute;
    padding: 10px;
    font: 12px sans-serif;
    background: #222;
    color: #fff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
    visibility: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


